
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('images/Fondo.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  header {
    background-color: #ffffff;
    padding: 20px;
    color: rgb(0, 0, 0);
  }

  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 50px; 
    width: auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .hero-image img {
    width: 100%;
    height: auto; 
    display: block; 
  }

  .main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
  }

  .home-section h2{
    color: #ffffff;
    font-size: 2.5em; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    text-align: center;
  }
  
  footer {
    background-color: rgba(252, 252, 252, 0.9);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-links {
    margin-bottom: 10px;
  }
  
  .social-icon {
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin: 0 5px;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: #f2f2f2; 
  }

  .purpose-box {
    display: flex;
    align-items: center;
    background:rgba(255, 255, 255, 0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    overflow: hidden; 
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .purpose-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .purpose-box img {
    width: 500px; 
    height: auto;
    margin-right: 30px;
    border-radius: 8px;
  }

  .purpose-text {
    flex-grow: 1; 
    
  }
  
  
  .purpose-text h3 {
    color: #ffffff;
    text-align: center;
    margin: 0 0 5px;
    font-size: 2.2em;
  }
  
  .purpose-text p {
    color: #ffffff;
    text-align: center;
    margin: 0;
    font-size: 1.2em
  }

  .purpose-box:nth-child(2) {
    flex-direction: row-reverse; 
  }
  
  .purpose-box:nth-child(2) img {
    margin-left: 30px; 
    margin-right: 0; 
  }

  .login-button,
.register-button {
  background: linear-gradient(to right, #00bfff, #ffff99);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -10px 2px;
  cursor: pointer;
  border-radius: 8px; 
  vertical-align: middle;
}

.login-button:hover,
.register-button:hover {
  background-color: linear-gradient(to right, #007acc, #ffcc66);
}