body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.container {
  display: flex;
  height: 100vh;
}

.welcome-section {
  position: relative;
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/start.png') no-repeat center center;
  background-size: cover;
  filter: brightness(70%);
  z-index: -1;
}

.welcome-section h1,
.welcome-section p {
  position: relative;
  z-index: 1;
}

.welcome-section h1 {
  filter: brightness(100%);
  font-size: 2.5em;
  margin-bottom: 15px;
}

.welcome-section p {
  font-size: 1.2em;
}

.navbar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 60px;
  z-index: 10;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-links .logo img {
  height: 35px;
}

.form-container {
  background-color: #17345F;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-section {
  background-color: #18235c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-section h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.form-section label {
  margin-bottom: 5px;
  color: #ffffff;
  display: block;
  margin-top: 5px;
}

.form-section input {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  margin-top: 0.5px;
  background-color: #87A7FB;
}

.form-section .form-row {
  display: flex;
  gap: 10px;
}

.form-section .form-row>div {
  flex: 1;
}

.form-section button {
  background-color: #17345F;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
  display: block;
  width: 60%;
  margin-top: 5px;
}

.form-section button:hover {
  background-color: #007acc;
}

.form-section a {
  text-align: center;
  color: #007acc;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-section p {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: block;
}


.form-section a:hover {
  text-decoration: underline;
}

.register-section {
  background-color: #18235c;
  color: #ffffff;
  padding: 20px;
  margin-top: 70px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  color: white;
}

.checkbox-container input {
  margin-right: 10px;
}

.register-section h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.register-section a {
  text-align: center;
  color: #007acc;
  text-decoration: none;
  margin-top: 10px;
  display: block;
  margin-bottom: 10px;
}

.register-section a:hover {
  text-decoration: underline;
}

.register-section label {
  margin-top: 5px;
  margin-bottom: 2px;
  color: #ffffff;
  display: block;
}


.register-section .terms-label {
  display: flex;
  margin-top: 10px;
}


.register-section .form-row {
  display: flex;
  gap: 10px;
}


.register-section .terms-label label {
  font-size: 5px;
}

.register-section .form-row>div {
  flex: 1;
}

.register-section input {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 60px;
  margin-bottom: .5px;
  background-color: #87A7FB;
}

.register-section button {
  background-color: #17345F;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
  display: block;
  width: 60%;
}

.register-section button:hover {
  background-color: #007acc;
}

.register-section .toggle-button {
  background-color: transparent;
  color: #00bfff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.register-section .toggle-button:hover {
  color: #007acc;
}