<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="/css/stylelog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="icon" href="/public/images/LogoEVERYONE.png" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">¿Quienes somos?</a></li>
                <li><a href="/">Crear Recaudo</a></li>
                <li class="logo"><a href="#"><img src="/images/logito.png" alt="Logo"></a></li>
                <li><a href="/">Lenguaje</a></li>
                <li><a href="/">¿Cómo funciona?</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="welcome-section">
            <h1>Bienvenido.</h1>
            <p>¿Listo para lograr grandes cosas juntos?</p>
        </div>
        <div class="form-container">
            <div id="login-form" class="form-section">
                <form action="/login" method="POST">
                    <h2>Iniciar sesión</h2>
                    <label for="email">Correo electrónico</label>
                    <input type="text" id="email" name="email" required>
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                    <a href="#" onclick="showForm('forgot-password-form')">¿Olvidaste tu contraseña?</a> <br>
                    <a class="toggle-button" onclick="showForm('register-form')">¿Aún no tienes una cuenta? Crear cuenta</a>
                    <button type="submit">Iniciar sesión</button>
                </form>
            </div>
            <div id="register-form" class="register-section" style="display: none;">
                <form action="/register" method="POST">
                    <h2>Crear una cuenta</h2>
                    <div class="form-row">
                        <div>
                            <label for="first-name">Nombre</label>
                            <input type="text" id="first-name" name="first-name" required>
                        </div>
                        <div>
                            <label for="last-name">Apellido</label>
                            <input type="text" id="last-name" name="last-name" required>
                        </div>
                    </div>
                    <label for="email-register">Correo Electrónico</label>
                    <input type="email" id="email-register" name="email-register" required>
                    <div class="form-row">
                        <div>
                            <label for="document">Documento</label>
                            <input type="text" id="document" name="document" required>
                        </div>
                        <div>
                            <label for="phone">Teléfono</label>
                            <input type="text" id="phone" name="phone" required>
                        </div>
                    </div>
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password-register">Contraseña</label>
                    <input type="password" id="password-register" name="password-register" required>
                    <label for="confirm-password">Repetir Contraseña</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                    <div class="terms-container">
                        <input type="checkbox" id="terms" name="terms" required>
                        <label for="terms">He leído los Términos y Condiciones</label>
                    </div>
                    <a class="toggle-button" onclick="showForm('login-form')">Ya tengo cuenta!</a>
                    <button type="submit">Crear</button>
                </form>
            </div>
            <div id="forgot-password-form" class="form-section" style="display: none;">
                <form action="/recover" method="POST">
                    <h2>Recuperar Contraseña</h2>
                    <p>Para restablecer tu acceso, por favor ingresa tu correo electrónico y la última contraseña que recuerdes. Una vez verificados tus datos, te enviaremos un enlace para crear una nueva contraseña. Si tienes alguna dificultad, no dudes en contactarnos para obtener asistencia adicional. ¡Estamos aquí para ayudarte!</p>
                    <label for="email-recover">Correo Electrónico</label>
                    <input type="email" id="email-recover" name="email-recover" required>
                    <button type="submit">Recuperar</button>
                    <a class="toggle-button" onclick="showForm('register-form')">¿Aún no tienes una cuenta? Crear cuenta</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        function showForm(formId) {
            const forms = ['login-form', 'register-form', 'forgot-password-form'];
            forms.forEach(id => {
                document.getElementById(id).style.display = id === formId ? 'flex' : 'none';
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            showForm('login-form');
        });
    </script>
</body>

</html>