<link rel="stylesheet" href="/css/footerStyle.css">
<footer>
    <div class="footer-content">
      <div class="social-links">
        <a href="https://x.com/EveryoneToSmile" class="social-icon"><i class="fab fa-youtube"></i></a>
        <a href="https://x.com/EveryoneToSmile" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="https:/www.instagram.com/everyoneneedstosmile/" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="https:/www.tiktok.com/@everyoneneedstosmile" class="social-icon"><i class="fab fa-tiktok"></i></a>
      </div>
      <p>&copy; 2024 Everyone Needs To Smile. Todos los derechos reservados.</p>
    </div>
</footer>