<link rel="stylesheet" href="/css/navbarStyle.css">
<header>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">¿Quienes somos?</a></li>
            <li><a href="/cases">Campañas</a></li>
            <li class="logo"><a href="#"><img src="/images/logito.png" alt="Logo"></a></li>
            <li><a href="/ccase">Crear Recaudo</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
        </ul>
    </nav>
</header>